@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

nav {
    background-color: bisque;
}

.nav {
    margin: 10px;
    display: flex;
    justify-content:space-between;
}

.buttons-nav {
    margin-top: 30px;
}